<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{site.baseurl}}assets/proximity.ico" type="image/ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
        <link rel="stylesheet" href="{{site.baseurl}}css/main.css">
        <title>Proximity</title>
    </head>

    <header class="banner">
        <a href="{{site.baseurl}}">
            <img width="120px" height="120px" src="{{site.baseurl}}assets/Unify-logo-YW.png">
        </a>
    </header>

    <div class="navbar">
        <div class="container">
            <a href='{{site.baseurl}}'>Home</a>
            <a class="right" href='{{site.baseurl}}lootrules'>Loot Rules</a>
            <a class="right" href='{{site.baseurl}}raiding'>Raiding</a>
            <a class="right" href=''>Class Guides</a>
            <a class="right" href=''>Profession Guides</a>
            </div>
        </div>
    </div>

    <div>
        {{content}}
    </div>

    <div class="top-btn-div">
        <button onclick="topFunction()" id="top-btn" title="Go to top">Top</button>
    </div>

    <script>
        //Get the button
        mybutton = document.getElementById("top-btn");

        // When the user scrolls down 50px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

</html>
